<div>
  <div class="alert alert-dark" role="alert">
    {{ titulo }}
  </div>

  <div *ngIf="seleccion">
    <div [formGroup]="vinculoForm" class="form-group col-md-4">
      <label for="inputTerminal">Terminal</label>
      <select class="form-control" name="terminal" formControlName="terminalControl">
        <option [ngValue]="term.id" *ngFor="let term of terminales">{{ term.id }} {{ term.nombre }}</option>
      </select>
      <div><button (click)="siguiente()" class="btn btn-primary">Siguiente</button></div>
    </div>

    <div class="example-container">
      <h4>Máquinas a vincular</h4>

      <div cdkDropList #todoList="cdkDropList" [cdkDropListData]="maquinas" [cdkDropListConnectedTo]="[doneList]" class="example-list"
        (cdkDropListDropped)="drop($event)">
        <div class="example-box" *ngFor="let m of maquinas" cdkDrag>{{ m.nombre}}</div>
      </div>
    </div>

    <div class="example-container">
      <h4>Máquinas disponibles</h4>

      <div cdkDropList #doneList="cdkDropList" [cdkDropListData]="listadoDisponibles" [cdkDropListConnectedTo]="[todoList]"
        class="example-list" (cdkDropListDropped)="drop($event)">
        <div class="example-box" *ngFor="let m of listadoDisponibles" cdkDrag>{{ m.nombre }}</div>
      </div>
    </div>
  </div>

  <div *ngIf="!seleccion">
    <div>
      <label>Terminal: {{ term.id }} Nombre: {{ term.nombre }}</label>
    </div>
    <div>

      <button [disabled]="enviado" class="btn btn-primary" (click)="Confirmar()">Confirmar</button>
      <button class="btn btn-secondary" (click)="Cancelar()">Cancelar</button>
    </div>
  </div>
</div>
